body {
    background-color: black;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #111111;
    padding: 20px;
    color: #ddd;
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.visualization-container {
    text-align: center;
    width: 70%;
    margin-right: 20px;
}

.visualization {
    width: 1150px;
    height: 650px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.block-info {
    margin-top: 25px;
    max-width: 330px;
    text-align: left;
    color: white;
    font-size: 18px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 23, 21);
    border: 1px solid #333;
    border-radius: 8px; /* Rounded corners */
}



.block-info .search-container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: 57px; /* Make centered */
}

.search-container input#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ced4da;
}

.search-container #clearInput {
    position: absolute;
    right: -21px;
    top: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #888;
}

.search-container #clearInput:hover {
    color: red;
}

#insights-description {
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 50px;
}
.insights-content {
    margin-top: 20px; /* spacing */
}

a {
    color: #a0ffff;
    text-decoration: none;
}

a:hover {
    color: #80ffff;
}

h1 {
    color: #aaa;
    margin-bottom: 20px;
}





#dropdownItems {
    position: absolute; 
    top: 100%; 
    left: 0;
    z-index: 100; 
    display: block; 
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: white;
    color: black;
}


#dropdownItems .clickableItem {
    padding: 10px;
    cursor: pointer;
}

#dropdownItems .dropdownCategory {
    padding: 5px;
    font-weight: bold;
}

#dropdownItems .clickableItem:hover {
    background-color: #f0f0f0;
}
#dropdownItems div {
    cursor: pointer;
    padding: 5px;
}

#dropdownItems div:hover {
    background-color: #f0f0f0;
}






.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 13px;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    top: 4px;

    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

  }
  
  input:checked + .slider {
    background-color: #14F195;
  }
  
  input:checked + .slider:before {
    transform: translateX(42px); /* Translation of the thumb when checked */
  }
  
  









  .slider-container {
    margin-bottom: 10px;
  }
  
  .slider-wrapper {
    position: relative;
    width: 100%;
    height: 16px; 
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 16px;
    background: #ccc;
    border-radius: 8px;
}

.slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;

    background: transparent;
    outline: none;
    cursor: pointer;
    margin-top: 0px;
    position: relative;
    z-index: 3;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    position: relative;
    top: -1px;
    z-index: 4;
}

.slider-input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
}

.slider-filled {
    position: absolute;
    height: 16px;
    background: #14F195;
    z-index: 1;
    border-radius: 9px;
    left: 0px;
    width: calc(100% - 9px);
}


