body {
    background-color: black;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto; /* center */
    background: #111111;
    padding: 20px;
    color: #ddd;
    display: flex; 
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
}

.content-container {
    display: flex;
    justify-content: space-between;
}

.visualization-container {
    text-align: center;
    width: 70%;
    margin-right: 20px;
}

.visualization {
    width: 1150px;
    height: 650px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


.block-info {
    margin-top: 25px;
    max-width: 330px;
    text-align: left;
    color: white;
    font-size: 18px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 23, 21);
    border: 1px solid #333;
    border-radius: 8px; /* Rounded corners */
}
.slot-display {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: -35px;
    margin-bottom: 35px;
  }
  

.control-panel-title {
    margin-top: 10px;
    margin-bottom: 10px;
}




.block-info .search-container {
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: 57px; /* Make centered */
}

.search-container input#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ced4da;
    background-color: #111; /* Same color as the unselected pill */
    color: white;
}

.search-container #clearInput {
    position: absolute;
    right: -21px;
    top: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #888;
}

.search-container #clearInput:hover {
    color: red;
}

#insights-description {
    margin-top: -30px;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}
.insights-content {
    margin-top: 12px; /* spacing */
}

a {
    color: #a0ffff;
    text-decoration: none;
}

a:hover {
    color: #80ffff;
}

h1 {
    color: #aaa;
    margin-bottom: 20px;
}





#dropdownItems {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    display: block;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #111; /* Same color as the unselected pill */
    color: white;
}

#dropdownItems .clickableItem {
    padding: 10px;
    cursor: pointer;
    color: white;
}


#dropdownItems .dropdownCategory {
    padding: 5px;
    font-weight: bold;
}

#dropdownItems .clickableItem:hover {
    background-color: #f0f0f0;
}
#dropdownItems div {
    cursor: pointer;
    padding: 5px;
}

#dropdownItems div:hover {
    background-color: #f0f0f0;
}






.switch {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 26px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 13px;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    top: 4px;

    background-color: white;
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);

  }
  
  input:checked + .slider {
    background-color: #14F195;
  }
  
  input:checked + .slider:before {
    transform: translateX(42px); /* Translation of the thumb when checked */
  }
  
  









  .slider-container {
    margin-bottom: 10px;
  }
  
  .slider-wrapper {
    position: relative;
    width: 100%;
    height: 16px; 
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 16px;
    background: #ccc;
    border-radius: 8px;
}

.slider-input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;

    background: transparent;
    outline: none;
    cursor: pointer;
    margin-top: 0px;
    position: relative;
    z-index: 3;
}

.slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    position: relative;
    top: -1px;
    z-index: 4;
}

.slider-input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 16px;
    cursor: pointer;
    background: transparent;
    border-radius: 8px;
}

.slider-filled {
    position: absolute;
    height: 16px;
    background: #14F195;
    z-index: 1;
    border-radius: 9px;
    left: 0px;
    width: calc(100% - 9px);
}

.slider-label {
    text-align: center; 
    margin-bottom: 5px; /*add space between the label and the slider*/
}





.pill-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 70%; /* match the pill width */
    margin-left: auto;
    margin-right: auto;
}

.pill-selection {
    display: flex;
    border-radius: 15px; /* Smaller radius for less round corners */
    overflow: hidden;
    width: 100%; 
    background-color: #888;
}

.pill-option {
    color: #aaa; /* Dimmed color for inactive text */
    padding: 5px 15px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    background-color: #111;
    font-size: 14px;
    line-height: 1.2;
}

.pill-option.active {
    color: white; /* active text */
    background-color: #333;
}


.live-circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
    opacity: 0.5; /* Dimmed when not active */
    vertical-align: middle;
}

.live-circle.blinking {
    animation: blink 1s infinite;
    opacity: 1; /* Normal when active */
}

/* Blinking effect for the red circle */
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}






/* Range Selection */

.block-start-container {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.block-start-label {
    display: block; /* make label a block-level element */
}
.block-start-label.dimmed {
    color: #aaa; 
}

.block-start-label.active {
    color: white;
}

.block-start-input {
    margin-top: 10px;
    width: 100px; 
    padding: 5px;
    height: 18px;
    font-size: 16px;
    border-radius: 15px; /* Match pill's border-radius */
    border: 1px solid #ced4da;
    background-color: #111; 
    color: white; 
    margin-right: 10px; /* Space between input and button */
}

.block-start-input.dimmed {
    cursor: not-allowed;
    opacity: 0.5; 
 } 

.block-start-button {
    margin-top: 10px;
    height: 30px; 
    padding: 5px 10px; 
    font-size: 14px; 
    border-radius: 15px; /* Matching pill's border-radius */
    border: 1px solid #ced4da;
    background-color: #111;
    color: white; 
    cursor: pointer;
    transition: 0.3s; /* transition on hover */
}

.block-start-button:disabled {
    cursor: not-allowed;
    opacity: 0.5; 
}

.block-start-button:hover {
    background-color: #333;
}
